<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/a9c240801d.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="css/core.css">
    <link rel="stylesheet" href="css/jornadas.css">
    <script src="js/angular.js" type="text/javascript"></script>
    <script src="js/ui-bootstrap-tpls-3.0.6.js" type="text/javascript"></script>
    <title>Mis Jornadas</title>
</head>
<body ng-app="myApp" ng-controller="JornadasCtrl">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="index.html">JornadApp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Jornadas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="proyectos.html">Proyectos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about.html">Acerca de</a>
                </li>
            </ul>
        </div>
    </nav>
    <br>
    <div class="container-fluid">

        <div class="jumbotron bg-black collapse" id="divEditJornada">
            <!--<button class="btn btn-danger float-right"><i class="fas fa-times"></i></button>-->
            <center><h3>{{ accionActual }}</h3></center>

            <form name="formEditJornada">


                <div class="form-group">
                    <label for="inputTareas">Tareas</label>
                    <input type="text" class="form-control" id="inputTareas" aria-describedby="emailHelp" placeholder=""
                           ng-model="jornada.Tareas" ng-disabled="!editable" required maxlength="255">
                </div>

                <div class="form-group row no-margin">
                    <div class="col no-padding">
                        <label for="inputProyecto">Proyecto</label>
                        <div class="col-md-11 no-padding">
                            <select class="form-control select2" id="jornadaProyecto" style="width: 100%" ng-disabled="!editable">
                                <option ng-repeat="proyecto in proyectos" value="{{ proyecto.IdProyecto }}">
                                    {{ proyecto.Nombre }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col no-padding">
                        <label for="inputPrecioHr">Precio x Hora</label>
                        <input type="text" class="form-control" ng-model="jornada.PrecioHora" ng-disabled="!editable"
                               name="precioHora"
                               ng-pattern="/^([0-9]{1,7})((\.)([0-9]{1,2})){0,1}$/" required>
                        <span class="help-inline" ng-show="formEditJornada.precioHora.$error.required">Dato requerido.</span>
                        <span class="help-inline" ng-show="formEditJornada.precioHora.$error.pattern">Dato monetario, 1 a 7 dígitos y con 2 decimales.</span>
                    </div>
                </div>

                <div class="form-group row no-margin">
                    <div class="col no-padding">
                        <label for="inputDesde">Desde</label>
                        <input type="date" class="form-control" ng-model="jornada.FechaDesde" ng-disabled="!editable" required>
                    </div>
                    <div class="col"></div>
                    <div class="col no-padding">
                        <label for="inputHasta">Hasta</label>
                        <input type="date" class="form-control" ng-model="jornada.FechaHasta" ng-disabled="!editable" required>
                    </div>
                    <div class="col"></div>
                </div>

                <div class="form-group row no-margin">
                    <div class="col no-padding">
                        <label for="inputCantTareas">Cantidad de tareas</label>
                        <input type="number" class="form-control" ng-model="jornada.CantTareas" ng-disabled="!editable" required
                               ng-pattern="/^([0-9]{1,7})$/">
                    </div>
                    <div class="col"></div>
                    <div class="col form-check no-padding">
                        <input class="checkActivo" type="checkbox" value="1" id="inputActivo" ng-model="jornada.Activo" ng-disabled="!editable">
                        <label class="form-check-label" for="inputActivo">
                            Activo
                        </label>
                    </div>
                    <div class="col"></div>
                </div>


                <br>

                <button type="button" class="btn btn-warning float-right low-margin-line" ng-click="ToggleAddEditForm()">Cancelar</button>
                <button type="button" class="btn btn-success float-right low-margin-line" ng-click="Aplicar()" ng-if="editable" ng-disabled="formEditJornada.$invalid">Aplicar</button>
                <span class="row alert alert-danger float-right" ng-show="formEditJornada.$invalid" style="margin-right: 35px">
                    Revisar los datos ingresados
                </span>

            </form>
        </div>
        <!--
            ========================================================================================
            comienza lista
            ========================================================================================
        -->
        <div class="jumbotron bg-black">
            <form class="form-inline">
                <div class="form-group col-md-11 no-padding">
                    <!--<input type="text" class="form-control col-md-12" id="inputPassword2" placeholder="Buscar horas de trabajo">-->
                </div>
                <div class="col-md-1 no-padding">
                    <button type="button" class="btn btn-warning float-left" ng-click="BuscarBtn()"><i class="fas fa-search"></i></button>
                    <button type="button" class="btn btn-success float-right" ng-click="AgregarBtn()"><i class="fas fa-plus"></i></button>
                </div>
            </form>

            <br>
            <ul uib-pagination total-items="RegistrosTotal"
                ng-model="PaginaActual" max-size="10" class="pagination-sm" boundary-links="true"
                first-text="Primera" last-text="Ultima" previous-text="Anterior" next-text="Siguiente"
                rotate="true" ng-change="CargarLista()"></ul>

            <div class="form-group">
                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Tareas</th>
                            <th scope="col">Proyecto</th>
                            <th scope="col">Desde</th>
                            <th scope="col">Hasta</th>
                            <th scope="col"><center><i class="fas fa-cog"></i></center></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="jornada in Lista">
                            <th scope="row">{{ jornada.IdSesion }}</th>
                            <td>{{ jornada.Tareas}}</td>
                            <td>{{ getProyecto(jornada).Nombre }}</td>
                            <td>{{ jornada.FechaDesde | date: 'dd/MM/y' }}</td>
                            <td>{{ jornada.FechaHasta | date: 'dd/MM/y' }}</td>
                            <td>
                                <center>
                                    <span class="btn btn-warning btn-sm" ng-click="VerBtn(jornada)"><i class="fas fa-eye"></i></span>
                                    &nbsp;

                                    <span class="btn btn-info btn-sm" ng-click="EditarBtn(jornada)"><i class="fas fa-edit"></i></span>
                                    &nbsp;

                                    <span class="btn btn-success btn-sm"
                                          ng-if="!jornada.Activo"
                                          ng-click="ActivarDesactivar(jornada)">
                                        <i class="fas fa-toggle-on"></i>
                                    </span>

                                    <span class="btn btn-danger btn-sm" ng-if="jornada.Activo"
                                          ng-click="ActivarDesactivar(jornada)">
                                        <i class="fas fa-toggle-off"></i>
                                    </span>
                                </center>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <ul uib-pagination total-items="RegistrosTotal"
                ng-model="PaginaActual" max-size="10" class="pagination-sm" boundary-links="true"
                first-text="Primera" last-text="Ultima" previous-text="Anterior" next-text="Siguiente"
                rotate="true" ng-change="CargarLista()"></ul>
        </div>

    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>
    <script src="js/app.js"></script>
</body>
</html>